.css-nje62a-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    // border-color: #1976d2;
    border-width: 0px !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 15px 1px !important;
}

.infoUpdatePageWrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 30%;
    margin: 30px auto;
    background-color: #f0f0f0;
    padding: 50px 45px;
    border-radius: 10px;

    h2 {
        text-align: center;
        margin-bottom: 30px;

    }

    .wrapperContent {
        margin: 25px 0px;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;

        div {
            // width: 205px;
        }
    }

    .wrapperFooter {
        display: flex;
        /* justify-content: space-around; */
        justify-content: center;
        margin: 35px 0px 0px 0px;
    }
}