.quizPageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e6f7ff;
    padding: 50px 0px;
    padding-top: 120px;
    min-height: 100vh;

    .leftAlign {
        width: 60%;
        text-align: end;
    }

    .endQuizBtn {
        background-color: #F73859;
        color: white;
        padding: 5px 15px;
        border-radius: 3px;
        border: 2px solid #f77171;
        cursor: pointer;
        font-weight: bolder;
        font-size: 15px;
        margin-bottom: 30px;
    }

    .quizTimer {
        width: 98%;
        text-align: end;
        font-size: 22px;
    }

    .question {
        font-size: 25px;
        padding: 30px 0px;
    }

    .choicesList {
        display: flex;
        flex-direction: column;

        .optionsDiv {
            display: flex;
            margin-bottom: 0.5rem;
            width: 100%;
            font-size: 17px;
            border: 0.1rem solid rgb(86, 165, 235, 0.2);
            background-color: white;
        }

        .activeDiv {
            background-color: #4caf50;
        }

        .optionsDiv:hover {
            cursor: pointer;
            box-shadow: 0 0.4rem 1.4rem 0 rgb(86 185 235 / 50%);
            transform: translateY(-0.1rem);
            transition: transform 150ms;
        }

        .choicePrefix {
            padding: 15px 25px;
            background-color: #56a5eb;
            color: white;
        }

        .choiceText {
            padding: 15px 50px;
            width: 100%;
        }

    }

    .buttonDiv {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }

    .quizSubmitBtn {
        background-color: #6ca329;
        color: white;
        padding: 0px 15px;
        border-radius: 3px;
        border: 3px solid #889d6f;
        cursor: pointer;
        font-weight: bolder;
        font-size: 15px;
    }

    .quizBtn {
        padding: 8px 22px;
        // background-color: #1497c7;
        // color: white;
        // font-size: 13px;
        // border: 2px solid #60b1f1;
        // border-radius: 3px;
        // font-weight: 600;
    }
}