.dashboardWrap {
  text-align: center;

  .usersList {
    margin: 0px auto;
    font-size: 19px;
    border-collapse: separate;
    border-spacing: 0 15px;
    background-color: #ffffffd1;
    padding: 40px;
    border-radius: 7px;

    caption {
      font-size: 0px;
      margin: 15px 4px;
      margin-top: 100px;
      /* font-weight: bolder; */
      text-align: right;

      button {
        padding: 8px;
        font-size: 16px;
        color: white;
        background-color: #6ca329;
        border-color: #96c361;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    .headRow {}

    .bodyRow {
      background-color: white;
      box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
      border-radius: 5px;
    }
  }

  th,
  td {
    padding: 10px 25px;
    /* text-align: left; */
    /* border: 1px solid;*/
  }

  .dashboardEditBtn {
    padding: 3px 15px;
    font-size: 16px;
    margin: auto 13px;
    background: #357bfd;
    border-color: #80adff;
    color: white;
    border-radius: 3px;
    cursor: pointer;
  }
}


.userInfoDiv {
  display: flex;
  list-style: none;
  font-size: 25px;
}